# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/jz/anaconda3/lib/python3.11/site-packages (2.9.9)

In [2]:
# All import statements needed for the project, for example:
import json
import pathlib
import urllib.parse

import requests
from pathlib import Path

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db
import psycopg2

from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.engine.url import URL

In [3]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "aQ9WaK19vkxI27LB8CNNI6E7Y"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/resource/"
NYC_DATA_311 = NYC_DATA_311 = "erm2-nwe9.geojson?$where=created_date between '2022-10-01T00:00:00' and '2023-09-30T23:59:59'&$limit=3000"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "project4501"  # Replace with your actual database name
DB_USER = "postgres"  # Replace with your actual database user
#DB_URL = f"postgresqfl+psycopg2://{DB_USER}@localhost:5432/{DB_NAME}"
DB_URL =f"postgresql+psycopg2://postgres:postgres@localhost:5432/project4501"

DB_SCHEMA_FILE = "schema.sql"

# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [4]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [5]:

def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    # Create a Path object for the filename
    filename = DATA_DIR / url_path

    # Check if the file exists or if force download is requested
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")

        # Send a GET request to the URL
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception for HTTP errors

        # Create directories if they don't exist
        filename.parent.mkdir(parents=True, exist_ok=True)

        # Write the content to a file
        with open(filename, "w") as f:
            json.dump(response.json(), f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [6]:
def load_and_clean_zipcodes(ZIPCODE_DATA_FILE):
  # Load the shapefile using geopandas
    gdf_nyc_zipcodes = gpd.read_file(ZIPCODE_DATA_FILE)

   # Define the columns to keep. For the purpose of this example, we'll assume the project does not require building-specific ZIP codes, FIPS codes, or URLs.
    columns_to_keep = [
    'ZIPCODE', 'PO_NAME', 'POPULATION', 'AREA', 'STATE', 'COUNTY', 'geometry']

  # Remove unnecessary columns
    gdf_nyc_zipcodes_cleaned = gdf_nyc_zipcodes[columns_to_keep]

# Check for and remove any invalid geometries
    gdf_nyc_zipcodes_cleaned = gdf_nyc_zipcodes_cleaned[~gdf_nyc_zipcodes_cleaned.is_empty & gdf_nyc_zipcodes_cleaned.is_valid]

# Normalize column names to lowercase with underscores
    gdf_nyc_zipcodes_cleaned.columns = gdf_nyc_zipcodes_cleaned.columns.str.lower().str.replace(' ', '_')
    
    return gdf_nyc_zipcodes_cleaned

In [7]:
def download_and_clean_311_data():
    # Download the data using SoQL filters for the correct date range
    # This may involve constructing a URL with query parameters
    data_311_url = BASE_NYC_DATA_URL + NYC_DATA_311
    data_311_file = download_nyc_geojson_data(data_311_url)
    #data_311_file = r"data/311_Service_Requests_from_2010_to_Present.csv"
    def_311 = gpd.read_file(data_311_file)
    df_311_columns_to_keep = [
    'unique_key', 'created_date',  'agency', 'complaint_type', 
    'descriptor', 'location_type', 'incident_zip', 'city', 'borough', 
    'latitude', 'longitude'
]

    df_311_cleaned = def_311[df_311_columns_to_keep]

    df_311_cleaned = df_311_cleaned.dropna(subset=df_311_columns_to_keep)

    df_311_cleaned.columns = df_311_cleaned.columns.str.lower().str.replace(' ', '_')

    return df_311_cleaned

In [8]:
def download_and_clean_tree_data():
     # Download the data
    tree_data_url = BASE_NYC_DATA_URL + NYC_DATA_TREES
    tree_datafile = download_nyc_geojson_data(tree_data_url)
    #tree_datafile =r"data/2015StreetTreesCensus_TREES/2015StreetTreesCensus_TREES.shp"
    # Load the data
    gdf_tree = gpd.read_file(tree_datafile)
    # Define the columns to keep. For the purpose of this example, we'll assume the project does not require building-specific ZIP codes, FIPS codes, or URLs.
    columns_to_keep = [
    'tree_id', 'block_id', 'status', 'address', 'zipcode', 'zip_city',
    'latitude','longitude','x_sp','y_sp','geometry','health','spc_common'
    ]

# Remove unnecessary columns
    gdf_tree_cleaned = gdf_tree[columns_to_keep]

# Check for and remove any invalid geometries
    gdf_tree_cleaned = gdf_tree_cleaned[~gdf_tree_cleaned.is_empty & gdf_tree_cleaned.is_valid]

# Normalize column names to lowercase with underscores
    gdf_tree_cleaned.columns = gdf_tree_cleaned.columns.str.lower().str.replace(' ', '_')
    
    return gdf_tree_cleaned

In [9]:
def load_and_clean_zillow_data():
    df_zillow = pd.read_csv(ZILLOW_DATA_FILE)
    zillow_columns_to_keep = [
    'RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 
    "2023-01-31","2023-02-28","2023-03-31","2023-04-30","2023-05-31",
    "2023-06-30","2023-07-31","2023-08-31","2023-09-30"
]
    # Filter the dataframe to keep only the selected columns
    df_zillow_cleaned = df_zillow[zillow_columns_to_keep]

# Handle missing values by filling with the previous value in the column, as a simple method of imputation
    df_zillow_cleaned = df_zillow_cleaned.fillna(method='ffill', axis=1)

# Normalize column names to lowercase with underscores
    df_zillow_cleaned.columns = df_zillow_cleaned.columns.str.lower().str.replace('-', '_')
    
    return df_zillow_cleaned

In [10]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [11]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

Reading from data/resource/erm2-nwe9.geojson...
Reading from data/resource/5rq2-4hqu.geojson...

In [12]:
geodf_311_data['created_date']

0      2023-09-30 23:59:58
1      2023-09-30 23:59:38
2      2023-09-30 23:59:35
3      2023-09-30 23:59:34
4      2023-09-30 23:59:28
               ...
2995   2023-09-30 18:45:37
2996   2023-09-30 18:44:57
2997   2023-09-30 18:44:56
2998   2023-09-30 18:44:56
2999   2023-09-30 18:44:40
Name: created_date, Length: 2657, dtype: datetime64[ns]

In [13]:
# Show basic info about each dataframe
geodf_tree_data.head()

,tree_id,block_id,status,address,zipcode,zip_city,latitude,longitude,x_sp,y_sp,geometry,health,spc_common
0,180683,348711,Alive,108-005 70 AVENUE,11375,Forest Hills,40.72309177,-73.84421522,1027431.14821,202756.768749,POINT (-73.84422 40.72309),Fair,red maple
1,200540,315986,Alive,147-074 7 AVENUE,11357,Whitestone,40.79411067,-73.81867946,1034455.70109,228644.837379,POINT (-73.81868 40.79411),Fair,pin oak
2,204026,218365,Alive,390 MORGAN AVENUE,11211,Brooklyn,40.71758074,-73.9366077,1001822.83131,200716.891267,POINT (-73.93661 40.71758),Good,honeylocust
3,204337,217969,Alive,1027 GRAND STREET,11211,Brooklyn,40.71353749,-73.93445616,1002420.35833,199244.253136,POINT (-73.93446 40.71354),Good,honeylocust
4,189565,223043,Alive,603 6 STREET,11215,Brooklyn,40.66677776,-73.97597938,990913.775046,182202.425999,POINT (-73.97598 40.66678),Good,American linden

In [14]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()
#geodf_tree_data.head()

,zipcode,po_name,population,area,state,county,geometry
0,11436,Jamaica,18681.0,2.269930e+07,NY,Queens,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,Brooklyn,62426.0,2.963100e+07,NY,Kings,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,Brooklyn,83866.0,4.197210e+07,NY,Kings,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,Brooklyn,56527.0,2.369863e+07,NY,Kings,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,Brooklyn,72280.0,3.686880e+07,NY,Kings,"POLYGON ((991997.113 176307.496, 992042.798 17..."

In [15]:
df_zillow_data.head()

,regionid,regionname,city,state,metro,countyname,2023_01_31,2023_02_28,2023_03_31,2023_04_30,2023_05_31,2023_06_30,2023_07_31,2023_08_31,2023_09_30
0,91982,77494,Katy,TX,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,77449,Katy,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1738.217986,1747.30584,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.63114
2,91733,77084,Houston,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1706.900064,1706.067787,1723.72232,1735.48467,1752.132904,1756.990323,1754.429516,1757.602011,1755.03149
3,93144,79936,El Paso,TX,"El Paso, TX",El Paso County,1458.063897,1471.726681,1466.734658,1456.17566,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,62093,11385,New York,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783

## Part 2: Storing Data

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [16]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [32]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS nyc_zipcodes (
    zipcodes_id SERIAL PRIMARY KEY,
    zipcode INTEGER,
    po_name VARCHAR(255),
    population FLOAT,
    area FLOAT,
    state VARCHAR(255),
    county VARCHAR(255),
    geometry GEOMETRY(POLYGON,2263)
)
"""

##geometry GEOMETRY(POLYGON,2263)
NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS nyc_311 (
    complaints_id SERIAL PRIMARY KEY,
    unique_key VARCHAR(255),
    created_date TIMESTAMP,
    agency VARCHAR(255),
    complaint_type VARCHAR(255),
    descriptor VARCHAR(255),
    location_type VARCHAR(255),
    incident_zip INTEGER,
    city VARCHAR(255),
    borough VARCHAR(255),
    latitude FLOAT,
    longitude FLOAT
)
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS nyc_trees (
    trees_id SERIAL PRIMARY KEY,
    tree_id INTEGER,
    block_id INTEGER,
    status VARCHAR(255),
    address VARCHAR(255),
    zipcode VARCHAR(255),
    zip_city VARCHAR(255),
    latitude FLOAT,
    longitude FLOAT,
    x_sp FLOAT,
    y_sp FLOAT,
    health VARCHAR(255),
    spc_common VARCHAR(255),
    geometry GEOMETRY(Point, 4326)
 
)
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS nyc_historical_average_rents (
    zillow_id SERIAL PRIMARY KEY,
    regionid INTEGER,
    regionname INTEGER,
    city VARCHAR(255),
    state VARCHAR(255),
    metro VARCHAR(255),
    countyname VARCHAR(255),
    "2023_01_31" FLOAT,
    "2023_02_28" FLOAT,
    "2023_03_31" FLOAT,
    "2023_04_30" FLOAT,
    "2023_05_31" FLOAT,
    "2023_06_30" FLOAT,
    "2023_07_31" FLOAT,
    "2023_08_31" FLOAT,
    "2023_09_30" FLOAT
)
"""

In [33]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [34]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    connection.execute(db.text(ZIPCODE_SCHEMA))
    connection.execute(db.text(NYC_311_SCHEMA))
    connection.execute(db.text(NYC_TREE_SCHEMA))
    connection.execute(db.text(ZILLOW_SCHEMA))

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [35]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from geoalchemy2 import Geometry
from geoalchemy2.elements import WKTElement

In [36]:
tablename_to_dataframe = {
    "nyc_trees": geodf_tree_data,
    "nyc_zipcodes": geodf_zipcode_data,
    "nyc_311": geodf_311_data,
    "nyc_historical_average_rents": df_zillow_data
}

In [37]:
from geoalchemy2 import Geometry
import geoalchemy2 as gdb
import geopandas as gpd
import sqlalchemy as db
from sqlalchemy import create_engine
import psycopg2
import shapely.wkt
from shapely import wkt
from geoalchemy2 import WKTElement

In [38]:
# Apply the conversion to the entire DataFrame
df_311 = tablename_to_dataframe["nyc_311"]
# Assuming df_311 is your DataFrame prepared for the nyc_311 table
df_311.to_sql("nyc_311", con=engine, if_exists='append', index=False)

657

In [39]:
# Replace string placeholders with NaN for numeric columns
numeric_columns = ['2023_01_31', '2023_02_28', '2023_03_31', '2023_04_30', '2023_05_31', '2023_06_30', '2023_07_31', '2023_08_31', '2023_09_30']
df_rent=tablename_to_dataframe["nyc_historical_average_rents"]
df_rent[numeric_columns] = df_rent[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Now, you can use to_sql without encountering the invalid input syntax error
df_rent.to_sql("nyc_historical_average_rents", con=engine, if_exists='append', index=False)

722

In [40]:
# Apply the conversion to the entire DataFrame
df_rent = tablename_to_dataframe["nyc_historical_average_rents"]
# Assuming df_311 is your DataFrame prepared for the nyc_311 table
df_rent.to_sql("nyc_historical_average_rents", con=engine, if_exists='append', index=False)

722

In [41]:
df_zip = tablename_to_dataframe["nyc_zipcodes"]

# Insert the entire DataFrame into the database
df_zip.to_postgis("nyc_zipcodes", con=engine, if_exists='append', index=False, dtype={'geometry': Geometry('POLYGON', srid=2263)})

In [42]:
df_trees = geodf_tree_data
# Insert the entire DataFrame into the database
df_trees.to_postgis("nyc_trees", con=engine, if_exists='append', index=False, dtype={'geometry': Geometry('POINT', 2263)})

##### Reading Geometries in Python
If you're querying the data and reading it into a Python environment (like with Pandas or GeoPandas), you can convert these WKB geometries back to a more usable form. GeoPandas, for instance, can directly interpret WKB geometries and represent them as Shapely geometric objects.

In [43]:
query = "SELECT * FROM nyc_zipcodes"
df = gpd.read_postgis(query, con=engine, geom_col='geometry')  # Replace 'geometry' with the actual column name
df.head()

,zipcodes_id,zipcode,po_name,population,area,state,county,geometry
0,1,11436,Jamaica,18681.0,2.269930e+07,NY,Queens,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,2,11213,Brooklyn,62426.0,2.963100e+07,NY,Kings,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,124,11231,Brooklyn,33144.0,7.019794e+05,NY,Kings,"POLYGON ((979650.380 181467.529, 979634.221 18..."
3,3,11212,Brooklyn,83866.0,4.197210e+07,NY,Kings,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
4,4,11225,Brooklyn,56527.0,2.369863e+07,NY,Kings,"POLYGON ((995908.365 183617.613, 996522.848 18..."

In [44]:
query = "SELECT * FROM nyc_trees"
df = gpd.read_postgis(query, con=engine, geom_col='geometry')  # Replace 'geometry' with the actual column name
df.head()

,trees_id,tree_id,block_id,status,address,zipcode,zip_city,latitude,longitude,x_sp,y_sp,health,spc_common,geometry
0,1,180683,348711,Alive,108-005 70 AVENUE,11375,Forest Hills,40.723092,-73.844215,1.027431e+06,202756.768749,Fair,red maple,POINT (-73.84422 40.72309)
1,2,200540,315986,Alive,147-074 7 AVENUE,11357,Whitestone,40.794111,-73.818679,1.034456e+06,228644.837379,Fair,pin oak,POINT (-73.81868 40.79411)
2,3,204026,218365,Alive,390 MORGAN AVENUE,11211,Brooklyn,40.717581,-73.936608,1.001823e+06,200716.891267,Good,honeylocust,POINT (-73.93661 40.71758)
3,4,204337,217969,Alive,1027 GRAND STREET,11211,Brooklyn,40.713537,-73.934456,1.002420e+06,199244.253136,Good,honeylocust,POINT (-73.93446 40.71354)
4,5,189565,223043,Alive,603 6 STREET,11215,Brooklyn,40.666778,-73.975979,9.909138e+05,182202.425999,Good,American linden,POINT (-73.97598 40.66678)

##### Display as Text: To view the geometry in a more human-readable format (like WKT), you can use the ST_AsText() function in SQL queries.

In [45]:
query = "SELECT ST_AsText(geometry) FROM nyc_zipcodes LIMIT 5;"
df = pd.read_sql(query, con=engine)
df.head()

                                           st_astext
0  POLYGON((1038098.2518714815 188138.38000671566...
1  POLYGON((1001613.7129640579 186926.4395172149,...
2  POLYGON((979650.3799223155 181467.5285190493,9...
3  POLYGON((1011174.275535807 183696.33770971,101...
4  POLYGON((995908.3654508889 183617.61280155182,...

In [46]:
query = "SELECT ST_AsText(geometry) FROM nyc_trees LIMIT 5;"
df = pd.read_sql(query, con=engine)
df.head()

                                      st_astext
0  POINT(-73.84421521958048 40.723091773924274)
1   POINT(-73.81867945834878 40.79411066708779)
2  POINT(-73.93660770459083 40.717580740099116)
3  POINT(-73.93445615919741 40.713537494833226)
4   POINT(-73.97597938483258 40.66677775537875)

In [47]:
query = "SELECT * FROM nyc_311"
df = pd.read_sql(query, con=engine)
df.head()

,complaints_id,unique_key,created_date,agency,complaint_type,descriptor,location_type,incident_zip,city,borough,latitude,longitude
0,1,58974915,2023-09-30 23:59:58,NYPD,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11226,BROOKLYN,BROOKLYN,40.655672,-73.959177
1,2,58972386,2023-09-30 23:59:38,NYPD,Noise - Residential,Loud Music/Party,Residential Building/House,11361,BAYSIDE,QUEENS,40.766756,-73.787518
2,3,58973465,2023-09-30 23:59:35,NYPD,Noise - Commercial,Loud Music/Party,Store/Commercial,10002,NEW YORK,MANHATTAN,40.719500,-73.984867
3,4,58974769,2023-09-30 23:59:34,NYPD,Noise - Residential,Loud Music/Party,Residential Building/House,11435,JAMAICA,QUEENS,40.687499,-73.797290
4,5,58968700,2023-09-30 23:59:28,NYPD,Noise - Residential,Loud Music/Party,Residential Building/House,11226,BROOKLYN,BROOKLYN,40.652202,-73.957946

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(outfile, "w") as f:
        f.write(query)

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "complaints_per_zipcode_2022_2023.sql"

QUERY_1 = """
SELECT incident_zip AS zip_code, COUNT(*) AS complaint_count FROM nyc_311
GROUP BY incident_zip
ORDER BY complaint_count DESC;

"""

In [ ]:
''''with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)'''

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [ ]:
QUERY_2_FILENAME = QUERY_DIR / "top_10_zipcodes_by_tree_count.sql"

QUERY_2 = """
SELECT zipcode, COUNT(*) AS tree_count FROM nyc_trees
GROUP BY zipcode
ORDER BY tree_count DESC
LIMIT 10;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [ ]:
QUERY_3_FILENAME = QUERY_DIR / "top10_trees_rent_avg.sql"

QUERY_3 = """
SELECT 
    t.zipcode, 
    TO_CHAR(AVG(CASE WHEN r.\"2023_08_31\" ~ '^[0-9]+(\\.[0-9]+)?$' THEN CAST(r.\"2023_08_31\" AS DECIMAL) END), 'FM9,999,999.99') AS average_rent
FROM 
    nyc_trees AS t
JOIN 
    nyc_historical_average_rents AS r ON t.zipcode::TEXT = r.regionname::TEXT
GROUP BY 
    t.zipcode
ORDER BY 
    COUNT(t.tree_id) DESC
LIMIT 10;
"""



with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [ ]:
QUERY_4_FILENAME = QUERY_DIR / "rent_trees_complaint_correlation.sql"


QUERY_4 = """
WITH AvgRent AS (
    SELECT 
        r.regionname AS zipcode, 
        COALESCE(
            AVG(CASE WHEN r.\"2023_01_31\" ~ '^[0-9]+(\\\\.[0-9]+)?$' THEN CAST(r.\"2023_01_31\" AS DECIMAL) END),
            0
        ) AS average_rent    
    FROM 
        nyc_historical_average_rents AS r
    GROUP BY 
        r.regionname
)
SELECT 
    ar.zipcode,
    TO_CHAR(ar.average_rent, 'FM9,999,999.99') AS formatted_average_rent,
    COUNT(t.tree_id) AS tree_count,
    COUNT(c.unique_key) AS complaint_count
FROM 
    AvgRent AS ar
JOIN 
    nyc_trees AS t ON t.zipcode::TEXT = ar.zipcode::TEXT
JOIN 
    nyc_311 AS c ON ar.zipcode::TEXT = c.incident_zip::TEXT
GROUP BY 
    ar.zipcode, ar.average_rent
ORDER BY 
    ar.average_rent DESC
LIMIT 5;
"""

with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)

In [ ]:

QUERY_4 = """
WITH AvgRent AS (
    SELECT 
        r.regionname AS zipcode, 
        COALESCE(
            AVG(CASE WHEN r.\"2023_01_31\" ~ '^[0-9]+(\\\\.[0-9]+)?$' THEN CAST(r.\"2023_01_31\" AS DECIMAL) END),
            0
        ) AS average_rent    
    FROM 
        nyc_historical_average_rents r
    GROUP BY 
        r.regionname
), RankedRent AS (
    SELECT 
        zipcode, 
        average_rent,
        ROW_NUMBER() OVER(ORDER BY average_rent DESC) AS rank_desc,
        ROW_NUMBER() OVER(ORDER BY average_rent) AS rank_asc
    FROM 
        AvgRent
)
SELECT 
    rr.zipcode,
    TO_CHAR(rr.average_rent, 'FM9,999,999.99') AS formatted_average_rent,
    rr.average_rent,
    COUNT(t.tree_id) AS tree_count,
    COUNT(c.unique_key) AS complaint_count
FROM 
    RankedRent rr
LEFT JOIN 
    nyc_trees t ON t.zipcode::TEXT = rr.zipcode::TEXT
LEFT JOIN 
    nyc_311 c ON rr.zipcode::TEXT = c.incident_zip::TEXT
WHERE 
    rr.rank_desc <= 5
GROUP BY 
    rr.zipcode, rr.average_rent
UNION ALL
SELECT 
    rr.zipcode,
    TO_CHAR(rr.average_rent, 'FM9,999,999.99') AS formatted_average_rent,
    rr.average_rent,
    COUNT(t.tree_id) AS tree_count,
    COUNT(c.unique_key) AS complaint_count
FROM 
    RankedRent rr
LEFT JOIN 
    nyc_trees t ON t.zipcode::TEXT = rr.zipcode::TEXT
LEFT JOIN 
    nyc_311 c ON rr.zipcode::TEXT = c.incident_zip::TEXT
WHERE 
    rr.rank_asc <= 5
GROUP BY 
    rr.zipcode, rr.average_rent
ORDER BY 
    average_rent DESC
LIMIT 10;

"""

with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [ ]:
QUERY_5_FILENAME = QUERY_DIR / "top 10 Zip Codes with the Most Trees.sql"
QUERY_5 = """
SELECT
    z.zipcode,
    COUNT(*) AS tree_count
FROM
    nyc_trees t
JOIN
    nyc_zipcodes z ON ST_Contains(z.geometry, t.geometry) 
GROUP BY
    z.zipcode
ORDER BY
    tree_count DESC
LIMIT 10;
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_5))
    for row in result:
        print(row)

### Query 6

In [38]:
QUERY_6_FILENAME = QUERY_DIR / " immediate_area.sql"
from shapely.geometry import Point
# Create a point for the given coordinates
latitude = 40.80737875669467
longitude = -73.96253174434912
point = Point(longitude, latitude)
# Convert  mile to meters (1 mile = 1609.34 meters)
radius = 0.5 * 1609.34

QUERY_6 = f"""
SELECT 
    tree_id, 
    spc_common, 
    health, 
    status, 
    ST_AsText(geometry) AS location
FROM 
    nyc_trees
WHERE 
    ST_DWithin(
        geometry::geography,
        ST_SetSRID(ST_MakePoint({point.x}, {point.y}), 4326)::geography,
        {radius}
    )
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_6))
    for row in result:
        print(row)

('198514', 'pin oak', 'Good', 'Alive', 'POINT(-73.96207980385901 40.80230108588602)')
('209919', 'London planetree', 'Good', 'Alive', 'POINT(-73.96331506361766 40.808811547267055)')
('209921', 'London planetree', 'Good', 'Alive', 'POINT(-73.96340334087577 40.80874458097537)')
('203887', 'willow oak', 'Good', 'Alive', 'POINT(-73.96071917063361 40.805725833688264)')
('196440', 'American elm', 'Fair', 'Alive', 'POINT(-73.96412322243684 40.81114537770991)')
('209913', 'pin oak', 'Good', 'Alive', 'POINT(-73.96312071522566 40.809077091635245)')
('178550', 'Norway maple', 'Good', 'Alive', 'POINT(-73.95739876534434 40.806903447365045)')
('189403', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.95861205918303 40.80754134482308)')
('196606', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96719943972623 40.80732246649563)')
('198512', 'pin oak', 'Good', 'Alive', 'POINT(-73.96230576828576 40.8023961095017)')
('196541', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96549830227003 40.80929314213609)')
('203996', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96134249273145 40.80528415809051)')
('189414', 'ginkgo', 'Good', 'Alive', 'POINT(-73.95983152318928 40.80805619203157)')

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)